<% provide(:page_title, 'All Posts') %>
<% provide(:blog_active, 'active') %>

<div class="row">
  <%= render @posts %>
</div>
<div class="apple_pagination">
  <%= will_paginate @posts, container: false %>
</div>
