<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <div class="card-topper" style='background-image: url(https://static.pexels.com/photos/113762/pexels-photo-113762-large.jpeg);'></div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, post %></h4>
      <p class="published-date">Published Jan 14, 2016</p>
      <p class="card-text"><%= truncate(post.description, length: 130) %></p>
      <%= link_to 'Read', post, class: 'btn btn-read' %>
    </div>
  </div>
</div>
